/* Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    border: 0;
    font-size: 100%;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

/* General */

* {
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
    width: 100%;
}

/* Banner */

.banner {
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
}

.banner-img {
    background-image: url(../img/banner.png);
    background-position: center;
    background-size: cover;
    height: 32rem;
    width: calc(100% - 78px);
}

/* Menu */

.sidebar {
    background: #0D1612;
    height: 100%;
    left: 0;
    padding: 6px 14px;
    position: fixed;
    top: 0;
    transition: all 0.5s ease;
    width: 78px;
    z-index: 100;
}
  
.sidebar.open {
    width: 300px;
}
  
.sidebar .logo-details {
    align-items: center;
    display: flex;
    height: 60px;
    position: relative;
}

.sidebar .logo-details .logo {
    height: 50px;
    width: 50px;
}

.sidebar .logo-details .icon {
    opacity: 0;
    transition: all 0.5s ease;
}
  
.sidebar .logo-details .logo-name {
    color: #F6689A;
    font-size: 20px;
    font-weight: 600;
    opacity: 0;
    transition: all 0.5s ease;
}
  
.sidebar.open .logo-details .icon, .sidebar.open .logo-details .logo-name {
    opacity: 1;
}
  
.sidebar .logo-details #btn {
    color: #F6689A;
    cursor: pointer;
    font-size: 22px;
    min-width: 50px;
    position: absolute;
    right: 0;
    text-align: center;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.4s ease;
}
  
.sidebar.open .logo-details #btn {
    text-align: right;
}

.sidebar .nav-list {
    height: 100%;
    margin-top: 20px;
} 
  
.sidebar .nav-list li {
    list-style: none;
    margin: 8px 0;
    position: relative;
}

.sidebar .nav-list li a {
    align-items: center;
    background: #11101D;
    border-radius: 12px;
    display: flex;
    height: 100%;
    text-decoration: none;
    transition: all 0.4s ease;
    width: 100%;
}
  
.sidebar .nav-list li a:hover {
    background: #F6689A;
}
  
.sidebar li a .menu-icon {
    border-radius: 12px;
    color: #F6689A;
    font-size: 18px;
    height: 50px;
    line-height: 50px;
    min-width: 50px;
    text-align: center;
}

.sidebar li a .links-name {
    color: #F6689A;
    font-size: 15px;
    font-weight: 400;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
    white-space: nowrap;
}
  
.sidebar.open li a .links-name {
    opacity: 1;
    pointer-events: auto;
}
  
.sidebar li a:hover .menu-icon,
.sidebar li a:hover .links-name {
    color: #FFFFFF;
    transition: all 0.5s ease;
}

.sidebar li .tooltip {
    background: #F6689A;
    border-radius: 4px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 400;
    left: calc(100% + 15px);
    opacity: 0;
    padding: 6px 12px;
    pointer-events: none;
    position: absolute;
    top: -20px;
    transition: 0s;
    white-space: nowrap;
    z-index: 3;
}
  
.sidebar li:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.4s ease;
}
  
.sidebar.open li .tooltip{ 
    display: none;
}

/* Main */

main {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    padding: 1rem;
    width: calc(100% - 78px);
}

/* About Us */

.aboutus {
    margin-left: 1rem;
    margin-right: 1rem;
}

h2, h3 {
    color: #F6689A;
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    margin-bottom: 2rem;
    margin-top: 3rem;
}

#aboutus-1, #aboutus-2 {
    display: flex;
    margin-left: .5rem;
    margin-right: .5rem;
}

#aboutus-1 img,
#aboutus-2 img {
    border-radius: 0.5rem;
}

#aboutus-1 {
    justify-content: flex-start;
}

#aboutus-2 {
    justify-content: flex-end;
}

#text-1 {
    margin-left: 1rem;
}

#text-2 {
    margin-right: 1rem;
}

#text-1 p,
#text-2 p {
    color: #0D1612;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    letter-spacing: 0.25rem;
}

#text-1 p {
    text-align: left;
}

#text-2 P {
    text-align: right;
}

/* Gallery */

.gallery {
    margin-left: 1rem;
    margin-right: 1rem;
}

#candy-section-1, 
#candy-section-2, 
#candy-section-3 {
    display: flex;
    gap: .5rem;
}

#candy-section-1 img, 
#candy-section-2 img, 
#candy-section-3 img {
    height: 100%;
    width: 100%;
    border-radius: .5rem;
}

/* Contact */

#contact-container {
    margin-left: 1rem;
    margin-right: 1rem;
}

#contact-container .input-container {
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    display: flex;
}

#form-contact input,
#form-contact textarea {
    border: 0.10rem solid #F6689A;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    width: 40%;
    border-radius: .5rem;
}

#form-contact textarea {
    height: 10rem;
    resize: none;
}

#form-contact input:focus,
#form-contact textarea:focus {
    background: #FFC3D8;
    border: 0.10rem solid #0D1612;
    outline: none;   
}

#form-contact ::placeholder {
    color: #F6689A;
}

#form-contact button {
    background-color: #F6689A;
    border: none;
    border-radius: .5rem;
    color: #0D1612;
    cursor: pointer;
    display: block;
    font-size: 1rem;
    margin-bottom: 2rem;
    margin-left: 0;
    padding: 1.5rem 2.5rem;
    text-align: center;
    text-decoration: none;
    transition: .5s;
    width: 12rem;
    font-weight: bold;
}

#form-contact button:hover {
    background-color: #FFC3D8;
}

.alert-success, 
.alert-danger {
    color: #F6689A;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    width: 40%;
}

/* Footer */

footer {
    align-items: center;
    background-color: #F6689A;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-top: 4rem;
    padding: 4rem;
    width: calc(100% - 78px);
}

footer p {
    color: #0D1612;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}

/* Scrollbar */
  
::-webkit-scrollbar {
    width: 1rem;
}
  
::-webkit-scrollbar-thumb {
    background: #0D1612;
    border-radius: 4rem;
}

::-webkit-scrollbar-track {
    background-color: #F6689A;
}

/* Message */

.messages {
    list-style-type: none;
    padding: .5rem;
}
  
.message {
    padding: .5rem;
    border-radius: .5rem;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
  
.error {
    background-color: #FF0000;
    color: #FFFFFF;
}
  
.success {
    background-color: #008000;
    color: #FFFFFF;
}

/* Responsiveness */

@media only screen and (max-width: 1100px) {

    #candy-section-1, 
    #candy-section-2, 
    #candy-section-3 {
        flex-wrap: wrap;
    }

    #form-contact input,
    #form-contact textarea {
        width: 60%;
    }
}

@media only screen and (max-width: 800px) {

    #aboutus-1 img, 
    #aboutus-2 img {
        width: 10rem;
    }

    #text-1 p,
    #text-2 p {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 700px) {

    #form-contact input,
    #form-contact textarea {
        width: 100%;
    }
}

@media only screen and (max-width: 500px) {

    h2, h3 {
        font-size: 2.5rem;
    }

    #aboutus-1, 
    #aboutus-2 {
        flex-wrap: wrap;
    }

    #aboutus-1 img, 
    #aboutus-2 img {
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
}

@media (max-width: 420px) {

    .sidebar li .tooltip{
        display: none;
    }
}

@media only screen and (max-width: 400px) {

    h2, h3 {
        font-size: 2rem;
    }

    #text-1,
    #text-2 {
        margin: 0;
    }

    #text-1 p,
    #text-2 p {
        font-size: 1rem;
    }

    #form-contact button {
        width: auto;
    }    

    footer p {
        font-size: .8rem;
    }
}