{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conta</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon/site.webmanifest">
    <link rel="mask-icon" href="/static/favicon/safari-pinned-tab.svg" color="#0d1612">
    <link rel="shortcut icon" href="/static/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#0d1612">
    <meta name="msapplication-config" content="/static/favicon/browserconfig.xml">
    <meta name="theme-color" content="#0d1612">
    <link rel="stylesheet" href="/static/css/login.css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <main>
        <section id="background">
            <a href="{% url 'home' %}"><i class="bx bx-left-arrow-alt" id="return"></i></a>
            <section id="container2">
                <section id="account-container">
                    <section id="alert-container">
                        {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                    <li class="message {% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </section>
                    <section>
                        <h1>Bem-vindo à sua conta, {{ user.first_name }} {{ user.last_name }}!</h1>
                        <h2>Seus dados:</h2>
                        <p><span>Usuário:</span> {{ user.username }}</p>
                        <p><span>Email:</span> {{ user.email }}</p>
                    </section>
                    <section class="account-container">
                        <div class="input-container">
                            <a href="{% url 'forgotPassword' %}">
                                <button type="submit">
                                        Alterar Senha
                                </button>
                            </a>
                        </div>
                    </section>
                    <section class="account-container">
                        <form method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <div class="input-container">
                                <button type="submit">Sair</button>
                            </div>
                        </form>
                    </section>
                    <section class="account-container">
                        <div class="input-container">
                            <button id="openModalBtn">Excluir Conta</button>
                        </div>
                        <div id="myModal" class="modal">
                            <div class="modal-content">
                                <i class='close bx bx-x-circle'></i>
                                <form method="post" action="{% url 'deleteAccount' %}" id="form-deleteAccount">
                                    {% csrf_token %}
                                    <div class="input-container">
                                        <input type="text" name="confirmation" id="confirmation" placeholder="Digite &quot;excluir&quot; para confirmar" required>
                                    </div>
                                    <div class="input-container">
                                        <button type="submit">Excluir Conta</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </section>
                </section>
            </section>
        </section>
    </main>
    <script src="/static/js/alerts.js"></script>
    <script src="/static/js/modal.js"></script>
</body>
</html>