{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doceria Korea</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon/site.webmanifest">
    <link rel="mask-icon" href="/static/favicon/safari-pinned-tab.svg" color="#0d1612">
    <link rel="shortcut icon" href="/static/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#0d1612">
    <meta name="msapplication-config" content="/static/favicon/browserconfig.xml">
    <meta name="theme-color" content="#0d1612">
    <link rel="stylesheet" href="/static/css/home.css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="banner">
            <div class="banner-img"></div>
        </div>
        <nav class="sidebar">
            <div class="logo-details">
                <h1 class="logo-name">Doceria Korea</h1>
                <i class='bx bx-menu' id="btn"></i>
            </div>
            <ul class="nav-list">
                <li>
                    <a href="#aboutus-container-1">
                        <i class="menu-icon bx bx-home-alt"></i>
                        <span class="links-name">Bem Vindo</span>
                    </a>
                    <span class="tooltip">Bem Vindo</span>
                </li>
                <li>
                    <a href="#aboutus-container-2">
                        <i class='menu-icon bx bx-group'></i>
                        <span class="links-name">Sobre Nós</span>
                    </a>
                    <span class="tooltip">Sobre Nós</span>
                </li>
                <li>
                    <a href="#candy-container-1">
                        <i class="menu-icon bx bx-cake"></i>
                        <span class="links-name">Cupcake de Chocolate</span>
                    </a>
                    <span class="tooltip">Cupcake de Chocolate</span>
                </li>
                <li>
                    <a href="#candy-container-2">
                        <i class="menu-icon bx bx-cake"></i>
                        <span class="links-name">Cupcake de Chocolate ao Leite</span>
                    </a>
                    <span class="tooltip">Cupcake de Chocolate ao Leite</span>
                </li>
                <li>
                    <a href="#candy-container-3">
                        <i class="menu-icon bx bx-cake"></i>
                        <span class="links-name">Bolo Red Velvet</span>
                    </a>
                    <span class="tooltip">Bolo Red Velvet</span>
                </li>
                <li>
                    <a href="#contact-container">
                        <i class="menu-icon bx bx-chat"></i>
                        <span class="links-name">Entre em Contato Conosco</span>
                    </a>
                    <span class="tooltip">Entre em Contato Conosco</span>
                </li>
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'account' %}">
                        <i class='menu-icon bx bx-user-circle'></i>
                        <span class="links-name">Conta</span>
                    </a>
                    <span class="tooltip">acesse sua conta</span>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'login' %}">
                        <i class="menu-icon bx bx-log-in-circle"></i>
                        <span class="links-name">Login</span>
                    </a>
                    <span class="tooltip">Faça seu login</span>
                </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <section class="aboutus">
            <div id="aboutus-container-1">
                <div id="alert-container">
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                                <li class="message {% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <h2>Seja Bem vindo a Nossa Doceria</h2>
                <div id="aboutus-1">
                    <div>
                        <img src="/static/img/aboutus-1.png" alt="Imagem de doces">
                    </div>    
                    <div id="text-1">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi omnis culpa, illo aliquid similique unde sunt voluptatum, rem quibusdam illum vel ipsam debitis, nostrum quas odio laudantium quam assumenda officiis.</p>
                    </div>
                </div>  
            </div>
            <div id="aboutus-container-2">
                <h2>Sobre Nós</h2>
                <div id="aboutus-2">
                    <div id="text-2">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi omnis culpa, illo aliquid similique unde sunt voluptatum, rem quibusdam illum vel ipsam debitis, nostrum quas odio laudantium quam assumenda officiis.</p>   
                    </div>
                    <div>
                    <img src="/static/img/aboutus-2.png" alt="Imagem da nossa confeitaria">
                    </div>  
                </div>
            </div>
        </section>
        <section class="gallery">
            <div id="candy-container-1">
                <h3>Cupcake de Chocolate</h3>
                <section id="candy-section-1">
                    <div><img src="/static/img/chocolate-1.png" alt="Imagem de cupcakes de chocolate"></div>
                    <div><img src="/static/img/chocolate-2.png" alt="Imagem de cupcakes de chocolate"></div>
                    <div><img src="/static/img/chocolate-3.png" alt="Imagem de cupcakes de chocolate"></div>
                    <div><img src="/static/img/chocolate-4.png" alt="Imagem de cupcakes de chocolate"></div>
                    <div><img src="/static/img/chocolate-5.png" alt="Imagem de cupcakes de chocolate"></div>
                </section>
            </div>
            <div id="candy-container-2">
                <h3>Cupcake de Chocolate ao Leite</h3>
                <section id="candy-section-2">
                    <div><img src="/static/img/milkchocolate-1.png" alt="Imagem de cupcakes de chocolate ao leite"></div>
                    <div><img src="/static/img/milkchocolate-2.png" alt="Imagem de cupcakes de chocolate ao leite"></div>
                    <div><img src="/static/img/milkchocolate-3.png" alt="Imagem de cupcakes de chocolate ao leite"></div>
                    <div><img src="/static/img/milkchocolate-4.png" alt="Imagem de cupcakes de chocolate ao leite"></div>
                </section>
            </div>
            <div id="candy-container-3">
                <h3>Bolo Red Velvet</h3>
                <section id="candy-section-3">
                    <div><img src="/static/img/cake-1.png" alt="Imagem de um bolo red velvet"></div>
                    <div><img src="/static/img/cake-2.png" alt="Imagem de um bolo red velvet"></div>
                    <div><img src="/static/img/cake-3.png" alt="Imagem de um bolo red velvet"></div>
                </section>
            </div>
        </section>  
        <section id="contact-container">
            <h3>Entre em Contato Conosco</h3>
            <form method="post" action="{% url 'send-email' %}" id="form-contact">
                {% csrf_token %}
                <div class="input-container">
                    <input type="text" name="name" id="name" placeholder="Nome" required>
                </div>
                <div class="input-container">
                    <input type="email" name="email" id="email" placeholder="E-mail" required>
                </div>
                <div class="input-container">
                    <textarea name="message" id="message" placeholder="Escreva sua mensagem" required></textarea> 
                </div>
                <div class="input-container">
                    <button type="submit">Enviar</button>
                </div>
            </form>
            <div id="alert-container"></div>
        </section> 
    </main>
    <footer>
        <p>Copyright &copy; <span id="year"></span> | João Felipe. Todos os direitos reservados</p>
    </footer>
    <script src="/static/js/alerts.js"></script>
    <script src="/static/js/homeScripts.js"></script>
</body>
</html>